# NSW Air QUality Monthly Averages 2000 - 2024 | Combine Partial Datasets
Dataset downloaded in 4-year chunks to avoid gateway timeout on airquality.nsw.go.au. This notebook outlines the process for combining these disjointed datasets into one.

No additional pre-processing or cleaning is completed in this workflow.

## Set Up
Ensure that the required libraries are available by running the below code in the terminal before execution:
- pip install pandas


Execute the following in the jupyter notebook before execution to ensure that the required libraries are imported:

In [1]:
import pandas as pd

# Allows access to xls data format.
%pip install xlrd

Requirement already satisfied: xlrd in c:\users\matth\anaconda3\lib\site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

## Load Disjointed Datasets

In [31]:
# File paths for the datasets.
file_path_2000 = 'partial-datasets/nsw-monthly-air-quality-2000-2003-raw.xls'
file_path_2004 = 'partial-datasets/nsw-monthly-air-quality-2004-2007-raw.xls'
file_path_2008 = 'partial-datasets/nsw-monthly-air-quality-2008-2011-raw.xls'
file_path_2012 = 'partial-datasets/nsw-monthly-air-quality-2012-2015-raw.xls'
file_path_2016 = 'partial-datasets/nsw-monthly-air-quality-2016-2019-raw.xls'
file_path_2020 = 'partial-datasets/nsw-monthly-air-quality-2020-2024-raw.xls'

# Read the datasets.
data_2000 = pd.read_excel(file_path_2000)
data_2004 = pd.read_excel(file_path_2004)
data_2008 = pd.read_excel(file_path_2008)
data_2012 = pd.read_excel(file_path_2012)
data_2016 = pd.read_excel(file_path_2016)
data_2020 = pd.read_excel(file_path_2020)

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

## Combine Datasets

In [32]:
# Set appropriate column names for each dataset.
data_2000.columns = data_2000.iloc[1]
data_2000 = data_2000.iloc[2:]

data_2004.columns = data_2004.iloc[1]
data_2004 = data_2004.iloc[2:]

data_2008.columns = data_2008.iloc[1]
data_2008 = data_2008.iloc[2:]

data_2012.columns = data_2012.iloc[1]
data_2012 = data_2012.iloc[2:]

data_2016.columns = data_2016.iloc[1]
data_2016 = data_2016.iloc[2:]

data_2020.columns = data_2020.iloc[1]
data_2020 = data_2020.iloc[2:]

# Create an array of the datasets.
datasets = [data_2000, data_2004, data_2008, data_2012, data_2016, data_2020]

# Concatenate the datasets.
data = pd.concat(datasets)

## Output Combine Dataset

In [35]:
# File path for the output dataset.
file_path_output = 'nsw-monthly-air-quality-2000-2024-raw.xlsx'

# Save the concatenated dataset.
data.to_excel(file_path_output, index=False, engine='openpyxl')

# Display the concatenated dataset.
data

1,Date,RANDWICK SO2 monthly average [pphm],ROZELLE SO2 monthly average [pphm],LINDFIELD SO2 monthly average [pphm],LIVERPOOL SO2 monthly average [pphm],BRINGELLY SO2 monthly average [pphm],CHULLORA SO2 monthly average [pphm],WYONG SO2 monthly average [pphm],WALLSEND SO2 monthly average [pphm],CARRINGTON SO2 monthly average [pphm],...,BERESFIELD PM10 monthly average [µg/m³],TAMWORTH PM10 monthly average [µg/m³],WOLLONGONG PM10 monthly average [µg/m³],KEMBLA GRANGE PM10 monthly average [µg/m³],RICHMOND PM10 monthly average [µg/m³],BARGO PM10 monthly average [µg/m³],ALBURY PM10 monthly average [µg/m³],WAGGA WAGGA PM10 monthly average [µg/m³],ST MARYS PM10 monthly average [µg/m³],VINEYARD PM10 monthly average [µg/m³]
2,31/01/2000,0.1,NaN,0.1,NaN,0,NaN,NaN,0.2,NaN,...,16.8,NaN,18.3,NaN,15.3,NaN,NaN,NaN,16.9,15.5
3,29/02/2000,0.1,NaN,0.1,NaN,0.1,NaN,NaN,0.2,NaN,...,20.3,NaN,27.8,NaN,21.2,NaN,NaN,NaN,21.5,18.5
4,31/03/2000,NaN,NaN,0.1,NaN,0,NaN,NaN,0.2,NaN,...,17.9,NaN,21.8,NaN,15,NaN,NaN,NaN,15.7,14.5
5,30/04/2000,NaN,NaN,0.1,NaN,0,NaN,NaN,0.2,NaN,...,15.8,NaN,14.9,NaN,13.6,NaN,NaN,NaN,13.2,15.4
6,31/05/2000,NaN,NaN,0.1,NaN,0,NaN,NaN,0.2,NaN,...,16.9,NaN,15.7,NaN,11.4,NaN,NaN,NaN,11.6,13.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53,30/04/2024,0.1,0.1,NaN,0.1,0,NaN,0,0.2,0.2,...,15.5,12.1,15.8,21.8,13.6,14.1,23.5,NaN,15.6,NaN
54,31/05/2024,0.1,0.1,NaN,0.1,0,NaN,0,0.2,0.2,...,14.8,13,12.9,16.5,11.3,10.7,24.2,NaN,11.7,NaN
55,30/06/2024,0.1,0,NaN,0.1,0,NaN,0,0.2,0.3,...,12.8,12.3,9.5,11.4,9.2,8.6,11.7,NaN,10.3,NaN
56,31/07/2024,0.1,0,NaN,0,0,NaN,0,0.2,0.2,...,13.1,10.5,9.7,14.5,8.6,7.9,10.5,NaN,10.9,NaN
57,31/08/2024,0.1,0.1,NaN,0.1,0,NaN,0.1,0.1,0.2,...,16.2,13.8,14.8,22.6,13.1,13.8,13.3,NaN,13.2,NaN